In [1]:
import os

import pandas as pd, numpy as np

In [2]:
import pvlib
from pvlib.pvsystem import PVSystem
from pvlib.location import Location
from pvlib.modelchain import ModelChain
from pvlib.temperature import TEMPERATURE_MODEL_PARAMETERS

In [3]:
temperature_model_parameters = TEMPERATURE_MODEL_PARAMETERS['sapm']['open_rack_glass_glass']
temperature_model_parameters

{'a': -3.47, 'b': -0.0594, 'deltaT': 3}

In [4]:
pvwatts_system = PVSystem(
    module_parameters={'pdc0': 240, 'gamma_pdc': -0.004},
    inverter_parameters={'pdc0': 240},
    temperature_model_parameters=temperature_model_parameters)
pvwatts_system

PVSystem:
  name: None
  surface_tilt: 0
  surface_azimuth: 180
  module: None
  inverter: None
  albedo: 0.25
  racking_model: None
  module_type: None
  temperature_model_parameters: {'a': -3.47, 'b': -0.0594, 'deltaT': 3}

In [5]:
naive_times = pd.date_range(start='1981', end='1990', freq='1h',closed='left')
times = naive_times.tz_localize('Etc/Greenwich') #as Asia/Kolkata

In [6]:
df_locations = pd.read_csv('63Locations.csv')

In [7]:
df_locations

    Latitude  Longitude     Altitude              State
0       14.6       77.5   441.519950     Andhra Pradesh
1       14.6       78.5   203.984686     Andhra Pradesh
2       15.9       78.4   374.050592     Andhra Pradesh
3       16.4       81.5     8.404402     Andhra Pradesh
4       29.0       96.4  3970.050600  Arunachal Pradesh
..       ...        ...          ...                ...
58      18.9       78.3   342.337298          Telangana
59      28.8       78.0   209.734405      Uttar Pradesh
60      27.1       83.3    87.103681      Uttar Pradesh
61      29.1       79.3   196.348341        Uttarakhand
62      22.6       88.8     3.642916        West Bengal

[63 rows x 4 columns]

In [233]:
for i, lat, lon, alt, state in df_locations.itertuples():
    print(i, state)

0 Andhra Pradesh
1 Andhra Pradesh
2 Andhra Pradesh
3 Andhra Pradesh
4 Arunachal Pradesh
5 Assam
6 Bihar
7 Bihar
8 Chhattisgarh
9 Delhi
10 Goa
11 Gujarat
12 Gujarat
13 Gujarat
14 Gujarat
15 Gujarat
16 Haryana
17 Haryana
18 Himachal Pradesh
19 Himachal Pradesh
20 Jammu & Kashmir
21 Jammu & Kashmir
22 Jammu & Kashmir
23 Jammu & Kashmir
24 Jammu & Kashmir
25 Jharkhand
26 Jharkhand
27 Karnataka
28 Karnataka
29 Karnataka
30 Karnataka
31 Karnataka
32 Kerala
33 Madhya Pradesh
34 Madhya Pradesh
35 Maharashtra
36 Maharashtra
37 Maharashtra
38 Maharashtra
39 Maharashtra
40 Maharashtra
41 Manipur
42 Meghalaya
43 Mizoram
44 Nagaland
45 Orissa
46 Orissa
47 Puducherry
48 Punjab
49 Rajasthan
50 Rajasthan
51 Rajasthan
52 Rajasthan
53 Rajasthan
54 Rajasthan
55 Rajasthan
56 Tamil Nadu
57 Telangana
58 Telangana
59 Uttar Pradesh
60 Uttar Pradesh
61 Uttarakhand
62 West Bengal

In [10]:
location

Location:
  name: Andhra Pradesh
  latitude: 14.6
  longitude: 77.5
  altitude: 441.5199504
  tz: UTC

In [11]:
mc = ModelChain(pvwatts_system, location, aoi_model = 'physical', spectral_model = 'no_loss')

In [13]:
mc

ModelChain:
  name: None
  orientation_strategy: None
  clearsky_model: ineichen
  transposition_model: haydavies
  solar_position_method: nrel_numpy
  airmass_model: kastenyoung1989
  dc_model: pvwatts_dc
  ac_model: pvwatts_inverter
  aoi_model: physical_aoi_loss
  spectral_model: no_spectral_loss
  temperature_model: sapm_temp
  losses_model: no_extra_losses

In [44]:
df_ghi  = pd.read_csv("Raw_SSRD_63Locations_1981.csv", header = None)*1000
df_temp = pd.read_csv("63Locations_2mTempC_1981.csv", header = None)
df_wind = pd.read_csv("Wind_1m_63Locations_1981.csv", header = None)

In [48]:
df_ghi

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,33.252963,40.950408,34.330605,56.191349,151.177821,92.369341,30.943729,64.350641,41.566203,1.539489,...,0.000000,0.000000,0.000000,16.318584,31.559525,23.862080,2.771080,26.787109,5.234263,103.607610
2,221.532469,238.312899,218.761388,249.397220,364.858896,278.955409,186.278170,255.093329,225.689089,101.144428,...,67.583568,49.417597,66.659874,51.880780,212.141586,193.513769,110.535311,185.816324,124.698610,304.203028
3,445.220222,458.151930,438.138572,453.379514,525.427599,448.914995,371.170800,447.375506,429.671383,290.039730,...,255.247278,232.924687,259.403898,126.392048,430.749025,406.425099,299.122715,376.559012,313.439963,493.868075
4,637.502399,642.736662,625.648334,628.419414,606.250772,598.553327,523.888110,598.091481,596.859889,462.462499,...,440.909653,425.360814,451.686076,215.990308,615.949553,589.162444,468.466506,518.961745,478.781082,637.040553
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78882,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
78883,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
78884,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
78885,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
78886,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [71]:
# need to add empty row since time series has 78888 rows and these ghi/temp/wind datasets only have 78887
df_ghi = df_ghi.append(pd.Series(), ignore_index = True).set_index(times)
df_temp = df_temp.append(pd.Series(), ignore_index = True).set_index(times)
df_wind = df_wind.append(pd.Series(), ignore_index = True).set_index(times)

In [78]:
df_ghi

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
1981-01-01 00:00:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1981-01-01 01:00:00+00:00,33.252963,40.950408,34.330605,56.191349,151.177821,92.369341,30.943729,64.350641,41.566203,1.539489,...,0.000000,0.000000,0.000000,16.318584,31.559525,23.862080,2.771080,26.787109,5.234263,103.607610
1981-01-01 02:00:00+00:00,221.532469,238.312899,218.761388,249.397220,364.858896,278.955409,186.278170,255.093329,225.689089,101.144428,...,67.583568,49.417597,66.659874,51.880780,212.141586,193.513769,110.535311,185.816324,124.698610,304.203028
1981-01-01 03:00:00+00:00,445.220222,458.151930,438.138572,453.379514,525.427599,448.914995,371.170800,447.375506,429.671383,290.039730,...,255.247278,232.924687,259.403898,126.392048,430.749025,406.425099,299.122715,376.559012,313.439963,493.868075
1981-01-01 04:00:00+00:00,637.502399,642.736662,625.648334,628.419414,606.250772,598.553327,523.888110,598.091481,596.859889,462.462499,...,440.909653,425.360814,451.686076,215.990308,615.949553,589.162444,468.466506,518.961745,478.781082,637.040553
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989-12-31 19:00:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1989-12-31 20:00:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1989-12-31 21:00:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1989-12-31 22:00:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1989-12-31 23:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
location = Location(latitude = df_locations.iloc[0].Latitude, longitude = df_locations.iloc[0].Longitude, altitude = df_locations.iloc[0].Altitude, name = df_locations.iloc[0].State)

In [75]:
# df_temp.set_index(times)

In [29]:
solpos = pvlib.solarposition.pyephem(times, 
                                     latitude = df_locations.iloc[0].Latitude, 
                                     longitude = df_locations.iloc[0].Longitude, 
                                     altitude = df_locations.iloc[0].Altitude, 
                                     pressure = 101325, 
                                     temperature = df_temp[0].mean(), 
                                     horizon = '+0:00')

In [32]:
solpos['zenith']

1981-01-01 00:00:00+00:00    107.714587
1981-01-01 01:00:00+00:00     94.189533
1981-01-01 02:00:00+00:00     80.999765
1981-01-01 03:00:00+00:00     68.372025
1981-01-01 04:00:00+00:00     56.707407
                                ...
1989-12-31 19:00:00+00:00    171.390139
1989-12-31 20:00:00+00:00    162.099409
1989-12-31 21:00:00+00:00    148.911351
1989-12-31 22:00:00+00:00    135.197926
1989-12-31 23:00:00+00:00    121.406938
Name: zenith, Length: 78888, dtype: float64

In [235]:
#

In [212]:
df_res = pd.concat([df_ghi[0].rename('ghi'), df_temp[0].rename('temp'), df_wind[0].rename('wind'), solpos['zenith']], axis = 1)

In [213]:
# df_res

In [214]:
# df_res.index = df_res.index.rename("time_index")

In [217]:
df_res

                                  ghi       temp      wind      zenith
1981-01-01 00:00:00+00:00    0.000000  17.175718  0.438808  107.714587
1981-01-01 01:00:00+00:00   33.252963  17.978034  0.269089   94.189533
1981-01-01 02:00:00+00:00  221.532469  20.366359  0.444256   80.999765
1981-01-01 03:00:00+00:00  445.220222  23.165929  0.903431   68.372025
1981-01-01 04:00:00+00:00  637.502399  25.381997  1.295893   56.707407
...                               ...        ...       ...         ...
1989-12-31 19:00:00+00:00    0.000000  23.406468  0.907779  171.390139
1989-12-31 20:00:00+00:00    0.000000  23.013846  0.915597  162.099409
1989-12-31 21:00:00+00:00    0.000000  22.624327  0.868533  148.911351
1989-12-31 22:00:00+00:00    0.000000  21.984957  0.730704  135.197926
1989-12-31 23:00:00+00:00         NaN        NaN       NaN  121.406938

[78888 rows x 4 columns]

In [229]:
%%timeit -r1
pd.Series([pvlib.irradiance.disc(ghi, zen, i)['dni'] for ghi, zen, i in zip(df_res.ghi, df_res.zenith, df_res.index)]).astype(np.float64)

5.95 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [230]:
%%timeit -r1
df_res.apply(lambda row: pvlib.irradiance.disc(row.ghi, row.zenith, row.name)['dni'], axis = 1).astype(np.float64)

8.9 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [199]:
df_res['dni'] = df_res.apply(lambda row: pvlib.irradiance.disc(row.ghi, row.zenith, row.name)['dni'], axis = 1).astype(np.float64)

In [200]:
df_res['dhi'] = df_res['ghi'] - df_res['dni']*np.cos(np.radians(df_res['zenith']))

In [201]:
df_res.dtypes

ghi       float64
temp      float64
wind      float64
zenith    float64
dni       float64
dhi       float64
dtype: object

In [202]:
weather = df_res.rename({'temp': 'temp_air', 'wind': 'wind_speed'}, axis = 1).drop('zenith', axis = 1)

In [203]:
weather

,ghi,temp_air,wind_speed,dni,dhi
1981-01-01 00:00:00+00:00,0.000000,17.175718,0.438808,0.000000,0.000000
1981-01-01 01:00:00+00:00,33.252963,17.978034,0.269089,0.000000,33.252963
1981-01-01 02:00:00+00:00,221.532469,20.366359,0.444256,491.170297,144.694516
1981-01-01 03:00:00+00:00,445.220222,23.165929,0.903431,870.187130,124.487974
1981-01-01 04:00:00+00:00,637.502399,25.381997,1.295893,965.556811,107.494017
...,...,...,...,...,...
1989-12-31 19:00:00+00:00,0.000000,23.406468,0.907779,0.000000,0.000000
1989-12-31 20:00:00+00:00,0.000000,23.013846,0.915597,0.000000,0.000000
1989-12-31 21:00:00+00:00,0.000000,22.624327,0.868533,0.000000,0.000000
1989-12-31 22:00:00+00:00,0.000000,21.984957,0.730704,0.000000,0.000000
1989-12-31 23:00:00+00:00,NaN,NaN,NaN,0.000000,NaN

In [204]:
#

In [205]:
mc.run_model(weather)

ModelChain:
  name: None
  orientation_strategy: None
  clearsky_model: ineichen
  transposition_model: haydavies
  solar_position_method: nrel_numpy
  airmass_model: kastenyoung1989
  dc_model: pvwatts_dc
  ac_model: pvwatts_inverter
  aoi_model: physical_aoi_loss
  spectral_model: no_spectral_loss
  temperature_model: sapm_temp
  losses_model: no_extra_losses

In [206]:
#

In [207]:
df_acdc = pd.concat((mc.ac.rename('AC'), mc.dc.rename('DC')), axis = 1)

In [208]:
df_acdc

                                   AC          DC
1981-01-01 00:00:00+00:00    0.000000    0.000000
1981-01-01 01:00:00+00:00    6.607207    8.169180
1981-01-01 02:00:00+00:00   43.031806   45.397414
1981-01-01 03:00:00+00:00   89.145846   92.804611
1981-01-01 04:00:00+00:00  130.754626  135.849353
...                               ...         ...
1989-12-31 19:00:00+00:00    0.000000    0.000000
1989-12-31 20:00:00+00:00    0.000000    0.000000
1989-12-31 21:00:00+00:00    0.000000    0.000000
1989-12-31 22:00:00+00:00    0.000000    0.000000
1989-12-31 23:00:00+00:00    0.000000         NaN

[78888 rows x 2 columns]